learnloop.ariefspace.xyz {
	# Frontend SPA
	handle {
		reverse_proxy frontend:80
	}

	# API → backend
	handle /api/* {
		reverse_proxy backend:8000
	}
	handle /health {
		reverse_proxy backend:8000
	}
}

auth.ariefspace.xyz {
	reverse_proxy keycloak:8080
}
